.footer {
  padding: 90px 0 160px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 105px;
      img {
        width: 100%;
      }
    }
    &-nav {
      position: absolute;
      left: 50%;
      top: 0;
      @include transformX;
    }
    &-link {
      font-weight: 400;
      font-size: 19px;
      line-height: 34px;
      letter-spacing: 0.03em;
      color: $white;
      display: block;
      @include transition;
      &:hover {
        opacity: 0.8;
      }
    }
    &-socials {
      display: flex;
      align-items: center;
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 24px;
        width: 32px;
        @include transition;
        &:hover {
          opacity: 0.8;
        }
        &:first-child {
          margin-left: 0;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
@mixin footer-md-lg {
  .footer {
    padding: 50px 0 80px 0;
    &__inner {
      flex-wrap: wrap;
      &-nav {
        position: relative;
        width: 100%;
        order: -1;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &-link {
        margin: 0 20px;
      }
      &-logo {
        margin-bottom: 30px;
        width: 100%;
        img {
          max-width: 105px;
        }
      }
      &-socials {
        width: 100%;
        justify-content: center;
      }
    }
  }
}
@mixin footer-xsm-sm {
  .footer {
    padding: 50px 0;
    &__inner {
      &-link {
        font-size: 16px;
        line-height: 20px;
      }
      &-socials {
        a {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
