$main: #6d1ed2;
$main-dark: #330065;
$black: #000;

$white: #fff;

$gray: #f1f1f1;
$bg-color: #060606;
$about-color: #121212;
$more-color: #090909;
$kaushan: "Kaushan Script", cursive;
$koulen: "Koulen", cursive;
